{erl_opts, [debug_info]}.

{deps, [
{sstr, {git, "git://github.com/rustkas/erlang-simple-string.git", {branch, "rebar3_way"}}},
{re_tuner, "0.1.5"}
]}.

%% the plugin itself
{project_plugins, [rebar3_proper]}.


{profiles, [
			{test, [{eunit_opts, [verbose]}, {deps, [proper]}]}
			]}.




{plugins, [rebar3_format]}.

{format, [
    {files, [
	"test/*.erl"
	
	]},
    {formatter, default_formatter},
    {options, #{ribbon=>80 }}   
]}.
